* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: #FFF;
}

.wrapper {
  display: flex;
}

/*Left Aside*/
.profile-pic {
  width: 100px;
  border-radius: 50%;
}

.side-nav {
  width: 20%;
  background-color: #344152;
  color: #fff;
}

.user-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 5px 0;
  border-bottom: 2px solid #2C3749;
}

.user-nav h3 {
  opacity: 0.5;
  font-size: 16px;
}

.main-nav, .cat-nav {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 12px;
}

.main-nav {
  border-bottom: 2px solid #2C3749;
}

.main-nav h5 {
  margin: 0;
  opacity: .5;
}

ul {
  padding: 0;
  list-style-type: none;
}

.main-nav li {
  padding: 5px 10px;
  text-align: left;
  list-style-type: none;
  cursor: pointer;
}

.not-act {
  opacity: 0.5;
}

.job-boards,
.main-nav li:hover {
  border-left: 3px solid #4cb5ef;
  background-color: #1f2731;
  opacity: 1;
}

.side-nav-icon {
  margin-right: 10px;
  width: 16px;
}

.page-content {
  display: block;
  width: 80%
}

.cat-nav li {
  padding: 5px 10px;
  text-align: left;
  list-style-type: none;
  cursor: pointer;
}

.cat-nav span, .cat-nav h5 {
  opacity: 0.5;
}

.cat-nav-icon {
  vertical-align: -4px;
  margin-right: 10px;
  width: 16px;
  opacity: 1;
}

/*Top Nav*/

.top-nav-menu {
  display: flex;
  border-bottom: 1px solid #eef2f5;
  background-color: #fff;
}

.icon-holder, .search-bar {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.sm-icon-holder {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.search-bar {
  width: 100%;
  border-left: 1px solid #eef2f5;
}

.search-bar input {
  width: 100%;
  margin-left: 5px;
}

.new-user {
  background: url('images-cc3/white-newuser.svg') no-repeat center;
  background-color: #16a4f8;
}

.new-user:hover {
  background: url('images-cc3/white-newuser.svg') no-repeat center;
}

.calendar {
  background: url('images-cc3/grey-calendar.svg') no-repeat center;
}

.calendar:hover {
  background: url('images-cc3/white-calendar.svg') no-repeat center;
}

.grid {
  background: url('images-cc3/grey-grid.svg') no-repeat center;
}

.grid:hover {
  background: url('images-cc3/white-grid.svg') no-repeat center;
}

.new-user,
.new-user:hover,
.calendar,
.calendar:hover,
.grid,
.grid:hover {
  border-left: 1px solid #eef2f5;
  cursor: pointer;
  background-size: 20px;
}

.new-user:hover,
.calendar:hover,
.grid:hover {
  background-color: #16a4f8;
}

.menu-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}


/*Page Header and Nav*/

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  width: 60%;
  padding: 20px 10px;
}

.header-icons {
  text-align: right;
  width: 40%;
}

.header-text h1 {
  margin: 0 0 5px 0;
  font-size: 24px;
  font-weight: normal;
  color: #696969;
}

.header-text h5 {
  display: inline;
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: normal;
  color: #A9A9A9;
}

.header-text a {
  text-decoration: none;
  display: inline;
  font-size: 14px;
  color: #04A6F0;
}

.header-icons button {
  margin: 2px;
  border-radius: 50px;
  background-color: #FFF;
  border: 0.5px solid #ADAEB0;
  cursor: pointer;
}

.open-btn{
  width: auto;
  padding: 5px 15px;
  cursor: pointer;
}

.open-btn img {
  margin-right: 5px;
  vertical-align: -1px;
}
.page-nav {
  margin-left: 15px;
  width: 100%;
}

.page-nav a {
  margin-right: 2%;
  text-decoration: none;
  font-size: 12px;
  color: #ADAEB0;
}

.page-nav .summary {
  border-bottom: 3px solid #04A6F0;
  color: #696969;
}

.page-nav a:hover {
  border-bottom: 3px solid #04A6F0;
  color: #696969;
}

.page-nav img {
  display: none;
}

/*Main Content Styling*/
.content-wrap {
  background-color: #EDF2F6;
  padding: 10px;
}

/*Graphs*/
.graphs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #e4e9ed;
}

.circle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.circle-graphs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  height: 150px;
}

.circle {
	border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 8px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.circle p {
  margin: 0;
}

.circle-num {
  font-size: 24px;
  color: #696969;
}

.circle-word {
  font-size: 14px;
  color: #A9AAAE;
}

.applicants {
  border-top-color: #009494;
  border-right-color: #D3D3D3;
  border-bottom-color: #009494;
  border-left-color: #009494;
}

.interviews {
  border-top-color: #0481B0;
  border-right-color: #D3D3D3;
  border-bottom-color: #D3D3D3;
  border-left-color: #0481B0;
}

.forwards {
  border-top-color: #D3D3D3;
  border-right-color: #D3D3D3;
  border-bottom-color: #D3D3D3;
  border-left-color: #B300B3;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.bar-graph {
  display: flex;
  width: 100%;
  height: 150px;
  background-image: url('images-cc3/bargraph1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.graph-btn {
  width: auto;
  border-radius: 50px;
  border: 1px solid #A9AAAE;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #FFF;
  color: #696969;
}

/*Job Description and Right Aside*/

main {
  display: flex;
}

.job-description {
  width: 70%;
  background-color: #FFF;
  border-bottom: 3px solid #e7ecef;
}

.job-description-header th {
  background-color: #6F7D97;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 25px;
}

.edit-btn {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  border: none;
  background-color: #9aa4b6;
  color: #FFF;
  cursor: pointer;
}

.edit-btn img {
  margin-right: 5px;
}

.header-content p {
  display: inline;
}

.header-content div {
  display: inline;
}

.label {
  width: 30%;
  font-weight: 600;
  text-transform: uppercase;
}

.job-info {
  display: flex;
  align-items: center;
  width: 70%;
  line-height: 1.25;
}

td {
  font-size: 12px;
  margin: 5px;
}

.job-description-body tr {
  display: flex;
  margin: auto;
  width: 90%;
  border-bottom: 1px solid #d9d9d9;
}

.job-description-body tr:last-child {
  border-bottom: none;
}

.job-description-body td {
  display: flex;
  padding: 10px 0;
  color: #6F7E95;
  font-size: 12px;
  line-height: 120%;
  text-align: left;
}

.label {
  width: 40%;
  font-weight: 600;
}

.job-info {
  display: flex;
  align-items: center;
  width: 60%;
  line-height: 1.25;
}

.table-headshot {
  margin-right: 10px;
  border-radius: 50%;
  width: 24px;
}

.sm-btn {
  margin-bottom: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.sm-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.facebook {
  background-color: #486FCB;
}

.twitter {
  background-color: #04A6F0;
}

.linkedin {
  background-color: #0481B0;
}

.sm-btn-text {
  margin: 8px;
  color: #FFF;
}

.icon-btn {
  width: 12px;
}

.social-nav {
  margin: 0 20px 5px 20px;
  width: 30%;
}

.icon-header-wrap {
  display: flex;
  align-items: center;
}

.icon-header-wrap h3 {
  font-size: 14px;
}

.link-icon {
  width: 14px;
  margin-right: 5px;
}

.link-header {
  color: #696969;
  font-size: 14px;
}

.link-input {
  display: flex;
  height: 30px;
}

.link-input input {
  border: none;
  font-size: 12px;
  color: #696969;
  width: 100%;
}

.copy-btn {
  background-color: #009494;
  color: #FFF;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 804px){
  .side-nav{
    display: none;
  }

  .page-content{
    width: 100%;
  }
}

@media screen and (max-width: 648px){
  .page-nav .hide-page-nav{
    display: none;
  }

  .page-nav img {
    display: inherit;
    margin: -2px 2px;
  }

  .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .graphs {
    flex-direction: column;
  }

  .circle-wrapper {
    width: 100%;
  }

  .bar-wrapper {
    width: 100%;
    margin-top: 25px;
  }

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .job-description{
    width: 90%;
    margin-bottom: 20px;
  }

  .social-nav {
    width: 80%;
  }
}

@media screen and (max-width: 550px){
  .header-wrap{
    flex-direction: column;
    align-items: baseline;
  }

  .header-text {
    width: 100%;
  }

  .header-icons{
    width: 100%;
    text-align: left;
  }

  .graphs {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 412px){
  .top-nav-menu {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;;
  }

  .icon-holder {
    width: 20%;
    border: none;
  }

  .sm-icon-holder{
    padding: 5px 15px;
    border: none;
  }

  .search-bar{
    width: 80%;
    border: none;
  }

  .circle {
    margin: 2px;
  }
  .circle-graphs {
    flex-wrap: wrap;
    height: 300px;
  }
}
